@using System
@using Microsoft.AspNetCore

@if (ShowDialog)
{

    <div class="fade" id="modal" tabindex="-1" role="dialog">
        <div class="dialog" role="document">
            <div class="content">
                <div class="header">
                    <h5 class="title" id="titleLabel">Add Class</h5>
                    <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="body">
                    <EditForm OnValidSubmit="@HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <div class="form-group">
                            <label for="courseNumber">Course Number: </label>
                            <InputText id="lastName" class="form-control"
                                       placeholder="Enter Course Number"></InputText>
                            <ValidationMessage For="@( () => crsNumber)" />
                        </div>
                        <div class="form-group">
                            <label for="department">Department: </label>
                            <InputText id="department" class="form-control"
                                       placeholder="Enter Department">
                            </InputText>
                            <ValidationMessage For="@( () => department)" />
                        </div>
                        <div class="form-group">
                            <label for="sectionNumber">Section Number: </label>
                            <InputText id="sectionNumber" class="form-control"
                                       placeholder="Enter Section Number">
                            </InputText>
                            <ValidationMessage For="@( () => sectionNumber)" />
                        </div>
                        <button type="submit" class="btn btn-primary">Add Class</button>
                        <a class="btn btn-outline-primary" @onclick="@Close">Close</a>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@code{


    public int crsNumber { get; set; }
    public int department { get; set; }
    public int sectionNumber { get; set; }

    public bool ShowDialog { get; set; }

    [Parameter]
    public EventCallback<bool> CloseEventCallBack { get; set; }

    public void Show()
    {
        ShowDialog = true;
        StateHasChanged();
    }

    public void Close()
    {
        ShowDialog = false;
        StateHasChanged();
    }

    protected async Task HandleValidSubmit()
    {
        ShowDialog = false;
        await CloseEventCallBack.InvokeAsync(true);
        StateHasChanged();
    }
}



