@using System.Collections.Generic;
@using Microsoft.AspNetCore;
@using System.Diagnostics;
@using RecksWebservice.Data;
@using RecksWebservice.Types;

@inject ClassDataHandler classDataHandler
<link href="/css/booklet.css" rel="stylesheet" /> <!--Referencing CSS File For Booklet-->
@page "/booklet"
<PageTitle>LSU Booklet</PageTitle>
<style>
    h1 {
        font-family: Cambria;
        font-weight: bold;
        color: #461D7C;
    }

    select {
        font-family: Cambria;
        background-color: #461D7C;
		color: white;
    }
</style>
<body>
	
	<div class="container-fluid">
		<div class="row">
			<div id="header-text" class="col-md-12">
				<h1 class="text-center">
					WELCOME TO THE NEW LSU BOOKLET
				</h1>
			</div>
		</div>
		<div id="booklet-info" class="row">
			<div id="semesters" class="col-md-6">
				<select name="semester" id="semester" @onchange="SelectSemester">
					<option disabled selected>Semester</option>
					@foreach (var semester in semesterList)
					{
						string semesterName = semester.ToString(); //Prevents calling .ToString() more than once.
						<option value="@semesterName">@semesterName</option>
					}
				</select>
			</div>
			<div id="departments" class="col-md-6">
				<select name="department" id="department" @onchange="SelectDepartment">
					<option disabled selected>Department</option>
						
					@foreach (var department in departmentList)
					{
						string departmentName = department.ToString(); //Prevents calling .ToString() more than once.
						<option value="@departmentName">@departmentName</option>
					}
				</select>
				
			</div>
			<!--<div class="col-md-4">
			</div>-->
		</div>
		<div class="row">
			<div id="class-data" class="col-md-6">
				<select name="classes" id="classes" @onchange="SelectSemester">
					<option disabled selected>Class</option>
					@foreach (var visibleClass in classList)
					{
					string name = visibleClass.ToString(); //Prevents calling .ToString() more than once.
					<option value="@name">@name</option>
					}
				</select>

			</div>
		</div>
	</div>

</body>

@code {
	private List<string> semesterList = new();
	private List<string> departmentList = new();
	private List<Class> classList = new();

	private string _selectedSemester = "";
	private string _selectedDepartment = "";
	private string _selectedClass = ""; //May need changing.
	/// <summary>
	/// Checking and Handling if Department has been selected.
	/// </summary>
	/// <param name="e"></param>
	private async void SelectSemester(ChangeEventArgs e)
	{
		object? selectorValue = e.Value!;
		string? value = selectorValue.ToString()!;
		_selectedSemester = value;
		if (!string.IsNullOrWhiteSpace(_selectedDepartment))
		{
			await FillClasses();
		}
	}
	/// <summary>
	/// Checking and Handling if Semester has been selected.
	/// </summary>
	/// <param name="e"></param>
	private async void SelectDepartment(ChangeEventArgs e)
	{
		object? selectorValue = e.Value!;
		string? value = selectorValue.ToString()!;
		_selectedDepartment = value;
		if (!string.IsNullOrWhiteSpace(_selectedSemester))
		{
			await FillClasses();
		}
	}
	private async Task FillClasses() //May or may not need adjustments.
	{
		await Task.Run(() => classDataHandler.GetClassData(_selectedSemester, _selectedDepartment));
		classList.Clear();
		classList = classDataHandler.GetClasses();
		StateHasChanged();
	}
	protected override async Task OnInitializedAsync()
	{
		ResetLists(); //Cleaning the lists each time the page is reopened.
		await Task.Run(() => classDataHandler.GetBookletData());
		
		semesterList = classDataHandler.GetSemesters();
		departmentList = classDataHandler.GetDepartments();

	}
	private void ResetLists()
	{
		semesterList.Clear();
		semesterList = new();
		departmentList.Clear();
		departmentList = new();
		classList.Clear();
		classList = new();
	}

	//After code block execution, semester & department lists should automatically fill themselves out accordingly.
} 
