@page "/classScheduler"
@using System
@using Microsoft.AspNetCore
@using RecksWebservice.Data
@using System.Diagnostics;
@using RecksWebservice.Types;
@using System.Collections.Generic
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Data
@using System.Dynamic;
@using static RecksWebservice.Types.ScheduleFiller;


<div align="right" class="col-lg-12 control-section">
	<SfGrid @ref="@myGrid" DataSource="@ScheduleDataGridData" onselect="">
		<GridEvents TValue="OrganizedCalendar"></GridEvents>
		<GridColumns>
			<GridColumn Field="@nameof(OrganizedCalendar.Time)" HeaderText="Time"
						TextAlign="TextAlign.Left" Width="25" IsPrimaryKey="true">
			</GridColumn>
			<GridColumn Field="@nameof(OrganizedCalendar.Monday)" HeaderText="Monday"
						TextAlign="TextAlign.Center" Width="50">
			</GridColumn>
			<GridColumn Field="@nameof(OrganizedCalendar.Tuesday)" HeaderText="Tuesday"
						TextAlign="TextAlign.Center" Width="50">
			</GridColumn>
			<GridColumn Field="@nameof(OrganizedCalendar.Wednesday)" HeaderText="Wednesday"
						TextAlign="TextAlign.Center" Width="50">
			</GridColumn>
			<GridColumn Field="@nameof(OrganizedCalendar.Thursday)" HeaderText="Thursday"
						TextAlign="TextAlign.Center" Width="50">
			</GridColumn>
			<GridColumn Field="@nameof(OrganizedCalendar.Friday)" HeaderText="Friday"
						TextAlign="TextAlign.Center" Width="50">
			</GridColumn>
		</GridColumns>
		<GridEditSettings AllowAdding="true" AllowEditing="false" AllowDeleting="true"
			Mode="EditMode.Batch"></GridEditSettings>
	</SfGrid>
	<br/>

	@*These buttons are commented out so that during demonstration, they aren't around. However, their functions still
		provide execellent use.
	*@

	@*<button class="btn btn-primary" @onclick="UpdateCell">ByUpdateCell</button>
	<button class="btn btn-primary" @onclick="SetCellValue">BySetCellValue</button>
	<button class="btn btn-primary" @onclick="DataSourceSetValue">ByDataSource</button>
	<button class="btn btn-primary" @onclick="CurrentViewDataSetValue">ByCurrentViewData</button>
	<button class="btn btn-primary" @onclick="GetValueCell">GetValueCell</button>
	<button class="btn btn-primary" @onclick="BatchSaveMethod">Batch Save</button>*@
</div>

<br/>

@code {
	private List<Class>? selectedClasses { get; set; } = new();
	private static ScheduleFiller scheduleFiller { get; set;} = new();
	public List<OrganizedCalendar> ScheduleDataGridData = scheduleFiller.GetCalendar();
	public SfGrid<OrganizedCalendar> myGrid { get; set; }
	public string cellValue { get; set; }

	public bool ProcessClass(Class @class)
	{
		selectedClasses ??= new List<Class>();
		///Check to see if the given class conflicts with any in selectedClasses list
		if (CompareClasses(@class))
		{
			selectedClasses.Add(scheduleFiller.ProcessClassTimes(@class));
		}
		else
		{
			///Spit out error message for the user.
			Console.WriteLine($"Error: The class {@class.GetClassName} conflicts with the following selected classes:");
			foreach (var selectedClass in selectedClasses)
			{
				Console.WriteLine($"- {selectedClass.GetClassName}");
			}
		}
		return false; // class was not successfully processed and added to the list
	}

	private void BatchSaveMethod()
	{
		myGrid.EndEditAsync();
	}
	private void UpdateCell()
	{
		myGrid.UpdateCellAsync(0, "MondayTime", "UpdateCell!");
	}

	private void SetCellValue() ///Doesn't do anything
	{
		myGrid.SetCellValueAsync("8:00 AM", "Monday", "SetCellValue!");
		myGrid.Refresh();
	}

	private void DataSourceSetValue()
	{
		ScheduleDataGridData.Where(x => x.Monday == "Astronomy").First().Monday = "DataSourceSetValue!";
		myGrid.Refresh();
	}
	private void CurrentViewDataSetValue()
	{
		((OrganizedCalendar)myGrid.CurrentViewData.Where(x => ((OrganizedCalendar)x).Monday == "Astronomy").First()).Monday = "DataSourceSetValue!"; ;
		myGrid.Refresh();
	}

	private void GetValueCell()
	{
		cellValue = ((OrganizedCalendar)myGrid.CurrentViewData.Where(x => ((OrganizedCalendar)x).Monday == "Astronomy").First()).Monday;
	}

	private List<Class> classes { get; set; }
	protected override void OnInitialized()
	{
		base.OnInitialized();
		selectedClasses = new List<Class>();
	}

	public bool CompareClasses(Class @class)
	{
		List<Class> conflictingClasses = new List<Class>(); //report these to error handler for a file-writeup
															//True = Good / All Classes Are Set
															// False = Bad / A Class Conflicts
		if (selectedClasses != null) 
		{
			foreach (var key in selectedClasses) ///<---- POINT OF CRASH (selectedClasses is null)
			{
				//comparisons here; if comparisons 
			}
			//for (int i = 0; i < classes.Count - 1; i++)
			//{
			//	for (int j = i + 1; j < classes.Count; j++)
			//	{
			//		if (classes[i].StartTime < classes[j].EndTime && classes[j].StartTime < classes[i].EndTime)
			//		{
			//			conflictingClasses.Add(classes[i]);
			//			conflictingClasses.Add(classes[j]);
			//		}
			//	}
			//}
		} else
		{
			return true;
		}
		return true;
	}
	

	//public void SubmitClasses(Class classObj)
	//{
	//	classes.Add(classObj);
	//		{
	//			Id = int.Parse(classObj.GetClassID()),
	//			Subject = classObj.GetClassName(),
	//			//StartTime = classObj.GetStartTime(), //StartTime has Mistranslation when read in code
	//			//EndTime = classObj.EndTime, //EndTime has Mistranslation when read in code
	//			CategoryColor = classObj.GetColor(),
	//		};
	//	//test.Add(appointment);
	//}
	//public void OnEventRendered(EventRenderedArgs<OrganizedCalendar> args)
	//{
	//	Dictionary<string, object> attributes = new Dictionary<string, object>();
	//	if (CurrentView == View.Agenda)
	//	{
	//		attributes.Add("style", "border-left-color: " + args.Data.CategoryColor);
	//	}
	//	else
	//	{
	//		attributes.Add("style", "background: " + args.Data.CategoryColor);
	//	}
	//	args.Attributes = attributes;
	//}

	
}
