@using RecksWebservice.Types
@using RecksWebservice.Pages
@using RecksWebservice.Data
@using System.Diagnostics
@using System.Reflection
@using System.Runtime.ExceptionServices
@using System.Runtime.InteropServices
@using HtmlAgilityPack;
@using System.Collections.Generic
@using System.Net.Http;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.WebUtilities;
@inject ClassDataHandler classDataHandler
@using Microsoft.AspNetCore.Components;



@page "/rmp-data-page"

<link href="/css/RMP.css" rel="stylesheet" /> <!--Referencing stylesheet for RMP page-->

@inject RMPDataHandler RMPHandler

@*<h3>RateMyProfessor</h3>
*@

<h3>Professor Details</h3>

<div class="search">
    <p>Search for a professor:</p>
    <input type="text" @bind-value="@selectedProfessor" />
    <button @onclick="GetProfessorData">Get Professor Rating</button>
</div>

<div class="data">
    <p>Professor Name: @selectedProfessor.ToUpper()</p>
    @*<p>Class Name: @className</p>*@
    <p>Rating: @rating</p>
   @* <p>Number of Ratings: @numRatings</p>*@
</div>`

@code {
    private RMPDataHandler rmpDataHandler = new RMPDataHandler();
    private string selectedProfessor = "Patti Aymond";
    private string className;
    private double rating;
    private string numRatings;


    private async Task GetProfessorData()
    {
        rating = -1;
        await rmpDataHandler.GetProfessorData(selectedProfessor);
        rating = rmpDataHandler.GetProfessorRating();
        //numRatings = rmpDataHandler.GetNumRatings();
    }

    protected override async Task OnInitializedAsync()
    {
        ///Just a test
        await GetProfessorData();
    }
}