@using RecksWebservice.Types
@using RecksWebservice.Pages
@using RecksWebservice.Data
@using System.Diagnostics
@using System.Reflection
@using System.Runtime.ExceptionServices
@using System.Runtime.InteropServices
@using HtmlAgilityPack;
@using System.Collections.Generic
@using System.Net.Http;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.WebUtilities;
@inject ClassDataHandler classDataHandler
@using Microsoft.AspNetCore.Components;



@page "/rmp-data-page"

<link href="/css/RMP.css" rel="stylesheet" /> <!--Referencing stylesheet for RMP page-->

@inject RMPDataHandler RMPHandler

<h3>RateMyProfessor Data</h3>

<div class="search">
    <p>Search for a professor:</p>
    <input type="text" @bind-value="@selectedProfessor" />
    <button @onclick="GetProfessorData">Search</button>
</div>

<div class="data">
    <button @onclick="GetProfessorData">Get Professor Data</button>
    <p>Professor Name: @professorName</p>
    <p>Class Name: @className</p>
    <p>Rating: @rating</p>
    <p>Number of Ratings: @numRatings</p>
</div>`

@code {
    private RMPDataHandler rmpDataHandler = new RMPDataHandler();
    private string selectedProfessor;
    private string professorName;
    private string className;
    private int rating;
    private string numRatings;


    private async Task GetProfessorData()
    {
        professorName = null;
        rating = 0;
        await rmpDataHandler.GetProfessorData(selectedProfessor);
        professorName = selectedProfessor;
        rating = rmpDataHandler.GetProfessorRating();
        //numRatings = rmpDataHandler.GetNumRatings();
    }

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(() => classDataHandler.GetBookletData());
    }
}